<md-card class="customerDetails-card">
	<md-card-header>
		<md-card-header-text>
			<h1 layout="row" layout-align="center center">Customer details</h1>
		</md-card-header-text>
	</md-card-header>
	<md-card-content>
		<form>
			<div layout="row" layout-align="center center">
				<md-input-container flex>
					<label>Name</label>
					<input type="text" ng-model="customerDetails.model.name" ng-readonly='true'>
				</md-input-container>
			</div>
			<div layout="row" layout-align="center center">
				<md-input-container flex>
					<label>Company</label>
					<input type="text" ng-model="customerDetails.model.company" ng-readonly='true'>
				</md-input-container>
			</div>
			<div layout="row" layout-align="center center">
				<md-input-container flex>
					<label>Email</label>
					<input type="text" ng-model="customerDetails.model.email" ng-readonly='true'>
				</md-input-container>
			</div>
			<div layout="row" layout-align="center center">
				<md-input-container flex>
					<label>Phone</label>
					<input type="text" ng-model="customerDetails.model.phone" ng-readonly='true'>
				</md-input-container>
			</div>
			<div layout="row" layout-align="center center">
				<md-button class="md-primary" ng-click="customerDetails.edit(customer)">
					Edit
				</md-button>
				<md-button type="reset" class="md-warn" ng-click="customerDetails.back()">
					go back
				</md-button>
			</div>
		</form>
	</md-card-content>
</md-card>