<div layout="column" layout-fill>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 md-truncate flex md-accent>CRM</h2>
        <md-button class="md-fab" ng-click="customers.add()">
          <md-tooltip md-direction="left">Add new customer</md-tooltip>
          <md-icon>person_add</md-icon>
        </md-button>
        <md-button class="md-accent" ng-click="customers.showList()">
          <md-icon>people</md-icon>
          Show list
        </md-button>
      </div>
    </md-toolbar>
    <md-content>
      <ui-view></ui-view>
      
    </md-content>
  </div>